<div class="container">
  <div class="card">
    <div class="card-header">
      <button
        class="btn btn-success"
        [routerLink]="['/current']"
        routerLinkActive="router-link-active"
      >
        Current
      </button>
      <button
        class="btn btn-warning"
        [routerLink]="['/upcoming']"
        routerLinkActive="router-link-active"
      >
        Upcoming
      </button>
      <button
        class="btn btn-danger"
        [routerLink]="['/older']"
        routerLinkActive="router-link-active"
      >
        Older
      </button>
    </div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
