<div class="form-group">
  <input
    type="text"
    class="form-control mb-4"
    placeholder="Search"
    [(ngModel)]="query"
    id="listSearch"
  />
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Game id</th>
      <th scope="col">Match Between</th>
      <th scope="col">Score</th>
      <th scope="col">Perior</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of olderMatches | searchFilter: query">
      <th scope="row">{{ item.game_id || "-" }}</th>
      <td>{{ item.home_name + " v/s " + item.away_name }}</td>
      <td>{{ item.home_score + " / " + item.away_score }}</td>
      <td>{{ item.period }}</td>
    </tr>
    <tr *ngIf="olderMatches && olderMatches.length < 1">
      <div>No records found</div>
    </tr>
  </tbody>
</table>
